[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=dds_evrika_plugin
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=DDS Evrika Plugin
Name[ru]=DDS Evrika Plugin
Comment=Import and export DDS textures (BC1-BC7, sRGB/linear, mipmaps)
Comment[ru]=Импорт и экспорт DDS-текстур (BC1-BC7, sRGB/linear, mipmap)
